extends layout

block content
  div.container(ng-controller='TodoCtrl')
    h3 Todo List
    div.content
      ul.sortable.span3
        input(
          type="text"
          datepicker-popup="dd-MMMM-yyyy"
          ng-model="date"
          open="opened"
          min="minDate"
          max="'2015-06-22'"
          datepicker-options="dateOptions"
          date-disabled="disabled(date, mode)"
          ng-required="true")
        li(ng-repeat='todo in todos')
          //- input(type='checkbox', ng-model='todo.done')
          div.ui-state-default(ng-show='todo.editing')
            input(ng-model='todo.description', type='text')
            button(ng-show='todo.editing', ng-click='save(todo)') Save
          div(ng-hide='todo.editing')
            span(class='done-{{todo.done}}', ng-click='editItem(todo)')
              {{todo.description}}
            button(ng-hide='todo.editing', ng-click='del(todo)') Delete
        .well
          input(ng-model='newTodo.description', type='text', placeholder='description')
          button(ng-click='add(newTodo)') Add

  script(src='./javascripts/controllers/todo.js')
